.contact {
  background-color: var(--neutral-100);
  min-height: unset;
  padding-bottom: 5rem;
  gap: 1rem;
  width: 100%;
  form {
    display: grid;
    gap: 1em;
    width: 80%;
    p {
      font-weight: bold;
      font-style: italic;
    }

    .wrapper {
      display: grid;
    }
    input[type="submit"] {
      justify-self: start;
      background-color: var(--accent-400);
      padding: 0rem 1rem;
      border-radius: 1rem;
      text-decoration: none;
      color: var(--neutral-100);
      border: none;
    }
  }

  .contact-info {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
    #mail,
    #loc,
    #phone {
      display: flex;
      gap: 1rem;
      align-items: center;
      svg {
        fill: var(--neutral-000);
      }
    }
  }
  .social-links {
    h4 {
      margin-top: 2rem;
    }
    .links {
      border: 2px solid var(--neutral-700);
      margin: 1rem 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 1rem 1.5rem;
      border-radius: 2rem;
      a {
        svg {
          height: 2.5rem;
          width: auto;
          fill: var(--accent-500);
        }
      }
    }
  }
}
@media screen and (min-width: 780px) {
  .contact {
    h2 {
      grid-column: span 2;
    }
    grid-template-columns: 1fr 1fr;
    h4 {
      grid-column: span 2;
    }
    .social-links {
      justify-self: center;
    }
  }
}
