.contact {
  min-height: unset;
  padding-bottom: 5rem;

  .contact-info {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
    #mail,
    #loc,
    #phone {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }
  .social-links {
    h4 {
      margin-top: 2rem;
    }
    .links {
      border: 2px solid var(--neutral-700);
      margin: 1rem 0;
      width: 100%;
      display: flex;
      gap: 3rem;
      padding: 1rem 1.5rem;
      border-radius: 2rem;
      a {
        svg {
          height: 2.5rem;
          width: auto;
          fill: var(--accent-500);
        }
      }
    }
  }
}
@media screen and (min-width: 780px) {
  .contact {
    h2 {
      grid-column: span 2;
    }
    grid-template-columns: auto 1fr;
    h4 {
      grid-column: span 2;
    }
    .social-links {
      justify-self: center;
    }
  }
}
