.my-works {
  background-color: var(--neutral-300);
  #w-discription {
    margin-top: 1rem;
    text-align: center;
  }
  .projects {
    display: grid;
    gap: 2rem;
    .project-card {
      border: 2px solid var(--neutral-100);
      // background-color: var(--neutral-100);
      border-radius: 0px;
      background: linear-gradient(
        145deg,
        var(--neutral-700) var(--neutral-100)
      );
      box-shadow: 10px 10px 20px var(--neutral-300),
        -10px -10px 20px var(--neutral-100);
      margin: 1rem 0;
      padding: 1rem;
      border-radius: 0.5rem;
      overflow: hidden;
      position: relative;

      img {
        border-radius: 0.5rem;
        border: 2px solid var(--neutral-300);
      }

      .p-content {
        // border-top: 2px solid var(--neutral-700);
        padding: 1em;
        display: grid;
        h4 {
          font-size: var(--fs-m);
        }
        .p-description {
          font-size: 0.9em;
          font-style: italic;
        }
        .p-cta {
          color: var(--accent-500);
          font-size: 0.8em;
          justify-self: end;
          font-weight: bold;
          margin-top: 1rem;
          position: absolute;
          bottom: 5%;
        }
      }
    }
  }
  .more-btn {
    background-color: var(--accent-500);
    padding: 0.5em 1em;
    text-decoration: none;
    color: var(--neutral-300);
    border-radius: 1rem;
    justify-self: center;
  }
}

@media screen and (min-width: 780px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
