.skills {
  min-height: unset;
  background-color: #ff5500;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='63' stroke-opacity='0.05' %3E%3Ccircle fill='%23FF5500' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23ff4319' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23ff2e27' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23fd0933' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23f9003d' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23f50048' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23ef0051' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23e7005b' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23df0064' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23d4006e' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23c90077' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23bb007f' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23ac0087' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%239c008f' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23890095' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2374009b' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%235b00a0' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%233A0CA3' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  .skill {
    padding: 1em;
    margin-top: 1rem;
    background: rgba(255, 255, 255, 0.521);
    // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.466);
    h3 {
      font-size: var(--fs-l);
      color: var(--accent-500);
    }
    ul li {
      list-style-type: disc;
    }
  }
}
